<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780211311763-ht0ud0vmjl91u25nr96ddim7onrm3gid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780211311763-ht0ud0vmjl91u25nr96ddim7onrm3gid</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>780211311763-dik89c0me261hn7g7gj9fiveafacagbe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIGMy19kIYQTJBqqrbyOQFHitkgsqW43c</string>
	<key>GCM_SENDER_ID</key>
	<string>780211311763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.riderunner.flutterWebinarFirebase</string>
	<key>PROJECT_ID</key>
	<string>webinar-firebase-eb16c</string>
	<key>STORAGE_BUCKET</key>
	<string>webinar-firebase-eb16c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780211311763:ios:a8069818c6e5914406a966</string>
	<key>DATABASE_URL</key>
	<string>https://webinar-firebase-eb16c-default-rtdb.firebaseio.com</string>
</dict>
</plist>